whtree/modules/devkit/tests/rewrite/data/rewritecustomxsd.out.xsd

<xs:schema xmlns="http://www.utwente.nl/xmlns/utwente_voorlichting/dynamics_export"
           xmlns:rewrite="http://www.webhare.net/xmlns/dev/rewrite"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           rewrite:format="http://www.w3.org/2001/XMLSchema#schema"
           targetNamespace="http://www.utwente.nl/xmlns/utwente_voorlichting/dynamics_export">

  <xs:element name="organisaties" type="Organisaties" />

  <xs:complexType name="Organisatie">
    <xs:sequence minOccurs="0">
      <xs:element name="id" type="xs:int" minOccurs="0" />
      <xs:element name="naam" type="xs:string" />
      <xs:element name="subs" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sub1" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="sub2" type="xs:string" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Organisaties">
    <xs:sequence>
      <xs:element name="organisatie" type="Organisatie" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:attribute name="testattr" />

  <xs:attribute name="testattr2" />

</xs:schema>
