whtree/modules/devkit/tests/rewrite/data/rewriteformcomponents.out.xml

<!-- ADDME Try to share language and gid stuff with tollium, but need a proper importer for that -->
<xs:schema xmlns="http://www.webhare.net/xmlns/wrd/forms"
           xmlns:f="http://www.webhare.net/xmlns/publisher/forms"
           xmlns:fai="http://www.webhare.net/xmlns/publisher/forms/appinfo"
           xmlns:sc="http://www.webhare.net/xmlns/system/common"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.webhare.net/xmlns/wrd/forms"
           xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/publisher/forms" schemaLocation="mod::publisher/data/forms/formdef.xsd" />
  <xs:import namespace="http://www.webhare.net/xmlns/system/common" schemaLocation="mod::system/data/common.xsd" />

  <xs:element name="paymentmethod">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent editdefaults="name title hidetitle required groupclasses"
                             fieldobject="/lib/webtools/paymentmethod.whlib#PaymentMethodField"
                             linecomponent="false"
                             parserfunc="/lib/webtools/paymentmethod.whlib#__parsepaymentmethod"
                             supportedvalues="record" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="f:BaseAttributes" />
      <xs:attribute name="wrdschema" type="xs:string" />
      <xs:attribute name="paymentfield" type="xs:string" />
      <xs:attribute name="providerfield" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="wrdauthprefillhandler">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formhandler handlerobject="/lib/webtools/formhandlers.whlib#wrdauthprefillhandler"
                           icon="tollium:actions/confirm" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="f:HandlerAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="paymenthandler">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formhandler editextension="/lib/webtools/paymenthandler.xml#paymentsettings"
                           handlerobject="/lib/webtools/paymenthandler.whlib#PaymentHandler"
                           parserfunc="/lib/webtools/paymenthandler.whlib#PaymentHandlerParser" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="sc:FormHandlerAttributes" />
      <xs:attribute name="fromfield" />
      <xs:attribute name="fixedamount" />
      <xs:attribute name="orderid" />
    </xs:complexType>
  </xs:element>

</xs:schema>
