whtree/modules/publisher/data/siteprofilecomponents.xsd

<xs:schema xmlns="http://www.webhare.net/xmlns/publisher/siteprofile"
           xmlns:s="http://www.webhare.net/xmlns/tollium/screens"
           xmlns:sp="http://www.webhare.net/xmlns/publisher/siteprofile"
           xmlns:tai="http://www.webhare.net/xmlns/tollium/appinfo"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.webhare.net/xmlns/publisher/siteprofile"
           xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/tollium/screens" schemaLocation="mod::tollium/data/screens.xsd" />

  <xs:element name="compositions" type="s:Compositions" />

  <xs:element name="newtab" type="s:NewTab" />

  <xs:element name="insert" type="s:TabsExtensionInsert" />

</xs:schema>
