whtree/modules/publisher/data/forms/formdef.xsd

<!-- ADDME Try to share language and gid stuff with tollium, but need a proper importer for that -->
<xs:schema xmlns="http://www.webhare.net/xmlns/publisher/forms"
           xmlns:fai="http://www.webhare.net/xmlns/publisher/forms/appinfo"
           xmlns:forms="http://www.webhare.net/xmlns/publisher/forms"
           xmlns:sc="http://www.webhare.net/xmlns/system/common"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.webhare.net/xmlns/publisher/forms"
           xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/publisher/forms/appinfo"
             schemaLocation="mod::publisher/data/forms/appinfo.xsd" />
  <xs:import namespace="http://www.webhare.net/xmlns/system/common" schemaLocation="mod::system/data/common.xsd" />

  <!-- FIXME: Remove when all form definition files refer to system common instead of tollium screens -->
  <xs:import namespace="http://www.webhare.net/xmlns/tollium/screens" schemaLocation="mod::tollium/data/screens.xsd" />

  <xs:simpleType name="Pins">
    <!-- NOTE use sc:FormFormComponentPins or sc:FormHandlerPins -->
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="existence" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:simpleType name="InstanceId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="PageAttributes">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="pagetitle" type="xs:string" />
    <xs:attribute name="pagetid" type="sc:Tid" />
    <xs:attribute name="pins" type="sc:FormComponentPins" />
    <xs:attribute name="guid" type="xs:string" />
    <xs:attribute name="comment" type="xs:string" />
    <xs:attribute name="fieldsrenderer" type="xs:string">
      <xs:annotation>
        <xs:documentation>Callback to render the page fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="" />
          <xs:enumeration value="overview" />
          <xs:enumeration value="thankyou" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="visibleconditionid" type="InstanceId" />
  </xs:attributeGroup>

  <xs:attributeGroup name="GroupAttributes">
    <xs:attributeGroup ref="sc:FormGroupAttributes" />
  </xs:attributeGroup>

  <xs:attributeGroup name="BaseAttributes">
    <xs:attributeGroup ref="sc:FormBaseAttributes" />
  </xs:attributeGroup>

  <xs:attributeGroup name="UploadAttributes">
    <xs:attributeGroup ref="sc:FormBaseAttributes" />
    <xs:attribute name="maxfiles" type="xs:integer" />
  </xs:attributeGroup>

  <xs:attributeGroup name="HandlerAttributes">
    <xs:attributeGroup ref="sc:FormHandlerAttributes" />
  </xs:attributeGroup>

  <xs:attributeGroup name="LabelAttributes">
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="labeltid" type="sc:Tid" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PlaceholderAttributes">
    <xs:attributeGroup ref="sc:Placeholder" />
  </xs:attributeGroup>

  <xs:attributeGroup name="PrefixSuffixAttributes">
    <xs:attribute name="prefix" type="xs:string" />
    <xs:attribute name="prefixtid" type="sc:Tid" />
    <xs:attribute name="suffix" type="xs:string" />
    <xs:attribute name="suffixtid" type="sc:Tid" />
  </xs:attributeGroup>

  <xs:attributeGroup name="MapUnmapAttributes">
    <!--
    <xs:attribute name="onmapvalue" />
    <xs:attribute name="onunmapvalue" />
  -->
  </xs:attributeGroup>

  <xs:element name="formdefinitions">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Applies a formdefinition file.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="form" type="Form" minOccurs="0" maxOccurs="unbounded">
          <xs:unique name="elementnames">
            <xs:selector xpath="./forms:page/*|./forms:page/*/forms:option/*" />  <!-- also catch fields inside options, they need to form-level unique -->
            <xs:field xpath="@name" />
          </xs:unique>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="gid" type="sc:Gid" />
      <xs:attribute name="library" />
    </xs:complexType>
    <xs:unique name="formnames">
      <xs:selector xpath="./*" />
      <xs:field xpath="@name" />
    </xs:unique>
  </xs:element>

  <xs:simpleType name="SelectRowkeyTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="boolean" />
      <xs:enumeration value="money" />
      <xs:enumeration value="float" />
      <xs:enumeration value="datetime" />
      <xs:enumeration value="entityid" />
      <xs:enumeration value="fsobjectid" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TextEditValueTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="string" />
      <xs:enumeration value="integer" />
      <xs:enumeration value="money" />
      <xs:enumeration value="float" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DateOrNow">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="now(\+\d+d)?" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:date" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:group name="LineComponents">
    <xs:choice>
      <xs:element ref="customfield" />
      <xs:element ref="hidden" />
      <xs:element ref="textedit" />
      <xs:element ref="password" />
      <xs:element ref="date" />
      <xs:element ref="time" />
      <xs:element ref="select" />
      <xs:element ref="checkbox" />
      <xs:element ref="textarea" />
    </xs:choice>
  </xs:group>

  <xs:group name="BlockComponents">
    <xs:choice>
      <xs:element ref="rtdedit" />
      <xs:element ref="rtd" /> <!-- legacy name -->
      <xs:element ref="imgedit" />
      <xs:element ref="upload" />
      <xs:element ref="richtext" />
      <xs:element ref="address" />
      <xs:element ref="captcha" />
      <xs:element ref="array" />
    </xs:choice>
  </xs:group>

  <xs:group name="PageContents">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="LineComponents" />
        <xs:group ref="BlockComponents" />
        <xs:any namespace="##other" processContents="strict" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="Form">
    <xs:sequence>
      <xs:element name="handlers" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="mailresultshandler" />
            <xs:element ref="mailfeedbackhandler" />
            <xs:element ref="mailconfirmationhandler" />
            <xs:element ref="customhandler" />
            <xs:any namespace="##other" processContents="strict" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="page" />
      </xs:sequence>

      <!-- Deleted nodes which may have been answered -->
      <xs:element name="trash" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:any namespace="##targetNamespace" processContents="strict" />
            <xs:any namespace="##other" processContents="strict" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name for the form, used in OpenForm calls</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="gid" type="sc:Gid" />
    <xs:attribute name="library" />
    <xs:attribute name="objectname" />
    <xs:attribute name="jshandler" />
    <xs:attribute name="idprefix" />
    <xs:attribute name="prevlabel" />
    <xs:attribute name="nextlabel" />
    <xs:attribute name="submitlabel" />
    <xs:attribute name="prevlabeltid" type="sc:Tid" />
    <xs:attribute name="nextlabeltid" type="sc:Tid" />
    <xs:attribute name="submitlabeltid" type="sc:Tid" />
    <xs:attribute name="classes">
      <xs:annotation>
        <xs:documentation>List of CSS classes to apply to the form (next to the usual wh-form and wh-styledinput in the default rendering)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="formid">
      <xs:annotation>
        <xs:documentation>Formid used for eg. analytics data</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:attributeGroup name="EmailHandlerAttributes">
    <xs:attributeGroup ref="HandlerAttributes" />
    <xs:attribute name="subject" type="xs:string" />
    <xs:attribute name="subjectwitty" type="xs:boolean" />
    <xs:attribute name="mailtemplate" type="xs:string" />
    <xs:attribute name="originaltemplate" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Stores the original template path - useful when reporting errors, as mailtemplate may only refer to a file id
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="textid" type="xs:string" />
    <xs:attribute name="addresults" type="xs:boolean" />
    <xs:attribute name="applytemplate" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Path to template to apply
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sender" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sender email address (advanced-only for mailresults, freely settable for mailfeedback)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sendername" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Sender email display name (advanced-only for mailresults, freely settable for mailfeedback)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:element name="mailresultshandler">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardhandlers
        </xs:documentation>
        <xs:appinfo>
          <fai:formhandler descriptiontid="formhandlers.mailresults.description"
                           editdefaults="condition"
                           editextension="/screens/formhandlers.xml#mailresultseditor"
                           handlerobject="/lib/webtools/formhandlers/mailhandler.whlib#mailresultshandler"
                           handlertask="publisher:mailresults"
                           handlertaskfor="submit cancel"
                           icon="tollium:actions/send"
                           parserfunc="/lib/webtools/formhandlers/mailhandler.whlib#parsemailresultshandler"
                           tid="formhandlers.mailresults.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="mailto" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              A list of recipients for the email
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="email" use="required">
              <xs:annotation>
                <xs:documentation>
                  Email address
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="conditionid" type="InstanceId">
              <xs:annotation>
                <xs:documentation>
                  Optional condition which must be satisfied for this user to receive the email
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="EmailHandlerAttributes" />
      <xs:attribute name="receivers" type="xs:string" />  <!-- DEPRECATED -->
      <xs:attribute name="sendernamefield" type="xs:string" />
      <xs:attribute name="replytofield" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="mailfeedbackhandler">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardhandlers
        </xs:documentation>
        <xs:appinfo>
          <fai:formhandler descriptiontid="formhandlers.mailfeedback.description"
                           editdefaults="condition"
                           editextension="/screens/formhandlers.xml#mailfeedbackeditor"
                           handlerobject="/lib/webtools/formhandlers/mailhandler.whlib#mailfeedbackhandler"
                           handlertask="publisher:mailfeedback"
                           handlertaskfor="submit cancel"
                           icon="tollium:mailclient/reply"
                           parserfunc="/lib/webtools/formhandlers/mailhandler.whlib#parsemailfeedbackhandler"
                           tid="formhandlers.mailfeedback.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="EmailHandlerAttributes" />
      <xs:attribute name="receiverfield" type="xs:string" />
      <xs:attribute name="bcc" type="xs:string" />
      <xs:attribute name="sendoncanceltoo" type="xs:boolean" />  <!-- LEGACY no longer supported -->
      <xs:attribute name="attachmentsid" type="xs:string" />
      <xs:attribute name="mailwaitdays" type="xs:positiveInteger" />
      <xs:attribute name="mailwaittimezone" />
      <xs:attribute name="mailwaitat" type="sc:Time24H" />
    </xs:complexType>
  </xs:element>

  <xs:element name="mailconfirmationhandler">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardhandlers
        </xs:documentation>
        <xs:appinfo>
          <fai:formhandler descriptiontid="formhandlers.mailconfirmation.description"
                           editdefaults="condition"
                           editextension="/screens/formhandlers.xml#mailconfirmationeditor"
                           handlerobject="/lib/webtools/formhandlers/mailhandler.whlib#mailconfirmationhandler"
                           handlertask="publisher:mailconfirmation"
                           handlertaskfor="confirmation"
                           icon="tollium:objects/envelope+tollium:overlays/status/positive"
                           parserfunc="/lib/webtools/formhandlers/mailhandler.whlib#parsemailconfirmationhandler"
                           tid="formhandlers.mailconfirmation.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="EmailHandlerAttributes" />
      <xs:attribute name="receiverfield" type="xs:string" />
      <xs:attribute name="bcc" type="xs:string" />
      <xs:attribute name="onduplicate">
        <xs:annotation>
          <xs:documentation>
            If set to `reject`, this prevents multiple submissions with the same email address.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="reject" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="customhandler">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Custom handlers are used for manually added one-off form handler definitions. Use this if you don't want to set up
          an XSD for this handler and don't need any XML configurability or support in the form editor.
          @topic forms/standardhandlers
        </xs:documentation>
        <xs:appinfo>
          <fai:formhandler icon="tollium:applications/editor"
                           parserfunc="/lib/webtools/internal/formhandlers.whlib#ParseCustomHandler"
                           tid="formhandlers.custom.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="HandlerAttributes" />
      <xs:attribute name="title" type="xs:string" use="required" />
      <xs:attribute name="handlerobject" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="page">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent editdefaults=""
                             editextension="/screens/formcomponents.xml#formpage"
                             icon="tollium:files/normal"
                             linecomponent="false"
                             matchattribute="hson:{'role':''}"
                             supportedvalues="none"
                             tid="formcomponents.page.name" />
          <fai:formcomponent editdefaults=""
                             editextension="/screens/formcomponents.xml#formoverviewpage"
                             icon="tollium:files/normal"
                             linecomponent="false"
                             matchattribute="hson:{'role':'overview'}"
                             supportedvalues="none"
                             tid="formcomponents.page.name-overview" />
          <fai:formcomponent editdefaults=""
                             editextension="/screens/formcomponents.xml#formthankyoupage"
                             icon="tollium:files/normal"
                             linecomponent="false"
                             matchattribute="hson:{'role':'thankyou'}"
                             supportedvalues="none"
                             tid="formcomponents.page.name-thankyou" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:group ref="PageContents" />
          <xs:element ref="group" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="PageAttributes" />
      <xs:attribute name="redirect" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An external link (a url) or an internal link (an "x-wh-internallink" reference)
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="delay" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            A delay in seconds after which to redirect (the thank you page will be shown for this number of seconds before
            redirecting)
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="group">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent editdefaults="title hidetitle"
                             editextension="/screens/formcomponents.xml#formgroup"
                             fieldobject="/lib/webtools/formcomponents/group.whlib#FormGroupField"
                             icon="tollium:folders/normal"
                             linecomponent="true"
                             parserfunc="/lib/webtools/formcomponents/group.whlib#parseformgroup"
                             supportedvalues="none"
                             tid="formcomponents.group.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:group ref="PageContents" />
      <xs:attributeGroup ref="GroupAttributes" />
      <xs:attribute name="blockstyle" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="customfield">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Custom fields are used for manually added one-off form field definitions. Use this if you don't want to set up an
          XSD for this field and don't need any XML configurability or support in the form editor.
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="/lib/forms/components.whlib#CustomFormFieldBase"
                             icon="tollium:applications/editor"
                             linecomponent="true"
                             parserfunc="/lib/forms/components.whlib#ParseCustomFormField"
                             tid="formcomponents.custom.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attribute name="fieldobject" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Specifies the object that directly implements this field.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="contentswitty" type="xs:string">
        <xs:annotation>
          <xs:documentation>Specifies the witty component rendering this field</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="hidden">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.hidden.description"
                             editdefaults="name title noenabled novisible"
                             editextension="/screens/formcomponents.xml#formhidden"
                             fieldobject="/lib/webtools/formcomponents/hidden.whlib#HiddenField"
                             icon="tollium:forms/hidden"
                             linecomponent="false"
                             parserfunc="/lib/webtools/formcomponents/hidden.whlib#parseformhidden"
                             supportedvalues="string"
                             tid="formcomponents.hidden.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attribute name="value" />
    </xs:complexType>
  </xs:element>

  <xs:element name="textedit">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.textedit.description-numeric"
                             editdefaults="name title hidetitle required groupclasses placeholder prefix suffix infotext"
                             editextension="/screens/formcomponents.xml#formnumerictextedit"
                             fieldobject="/lib/webtools/formcomponents/textedit.whlib#NumericTextEditField"
                             icon="tollium:forms/numeric"
                             linecomponent="true"
                             matchattribute="hson:{'valuetype':sa['integer','money','float']}"
                             ordering="4"
                             parserfunc="/lib/webtools/formcomponents/textedit.whlib#parseformtextedit"
                             supportedvaluesfunc="/lib/webtools/formcomponents/textedit.whlib#getformtexteditsupportedvalues"
                             tid="formcomponents.textedit.name-numeric" />
          <fai:formcomponent autocomplete="email"
                             descriptiontid="formcomponents.textedit.description-email"
                             editdefaults="name title hidetitle required groupclasses placeholder prefix suffix infotext"
                             editextension="/screens/formcomponents.xml#formemail"
                             fieldobject="/lib/webtools/formcomponents/textedit.whlib#TextEditField"
                             icon="tollium:forms/email"
                             linecomponent="true"
                             matchattribute="hson:{'validationchecks':sa['email']}"
                             ordering="3"
                             parserfunc="/lib/webtools/formcomponents/textedit.whlib#parseformemail"
                             supportedvaluesfunc="/lib/webtools/formcomponents/textedit.whlib#getformtexteditsupportedvalues"
                             tid="formcomponents.textedit.name-email" />
          <fai:formcomponent autocomplete="name given-name family-name organization organization-title username"
                             descriptiontid="formcomponents.textedit.description"
                             editdefaults="name title hidetitle required groupclasses placeholder prefix suffix infotext"
                             editextension="/screens/formcomponents.xml#formtextedit"
                             fieldobject="/lib/webtools/formcomponents/textedit.whlib#TextEditField"
                             icon="tollium:forms/textedit"
                             linecomponent="true"
                             ordering="1"
                             parserfunc="/lib/webtools/formcomponents/textedit.whlib#parseformtextedit"
                             supportedvaluesfunc="/lib/webtools/formcomponents/textedit.whlib#getformtexteditsupportedvalues"
                             tid="formcomponents.textedit.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="MapUnmapAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attributeGroup ref="PrefixSuffixAttributes" />
      <xs:attribute name="valuetype" type="TextEditValueTypes" />

      <!-- only support integer now -->
      <xs:attribute name="min" type="xs:integer" />
      <xs:attribute name="max" type="xs:integer" />
      <xs:attribute name="minlength" type="xs:nonNegativeInteger" />
      <xs:attribute name="maxlength" type="xs:positiveInteger" />
      <xs:attribute name="emptyvalue" />
      <xs:attribute name="value" type="xs:string" />
      <xs:attribute name="acceptableemailmasks">
        <xs:annotation>
          <xs:documentation>Space separated list of wildcard masks of accepted emails</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="unacceptableemailerror">
        <xs:annotation>
          <xs:documentation>Custom error message to show if email address is not on the acceptable list</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="unacceptableemailerrortid" type="sc:Tid">
        <xs:annotation>
          <xs:documentation>Tid for custom error message to show if email address is not on the acceptable list</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="validationchecks" type="sc:ValidationChecks">
        <xs:annotation>
          <xs:documentation>A list of checks the entered value must pass.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="textarea">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.textarea.description"
                             editdefaults="name title hidetitle required groupclasses placeholder infotext"
                             editextension="/screens/formcomponents.xml#formtextarea"
                             fieldobject="/lib/webtools/formcomponents/textarea.whlib#TextAreaField"
                             icon="tollium:forms/textarea"
                             linecomponent="true"
                             ordering="2"
                             parserfunc="/lib/webtools/formcomponents/textarea.whlib#parseformtextarea"
                             supportedvalues="string"
                             tid="formcomponents.textarea.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="MapUnmapAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attribute name="minlength" type="xs:positiveInteger" />
      <xs:attribute name="maxlength" type="xs:positiveInteger" />
      <xs:attribute name="value" type="xs:string" />
      <xs:attribute name="validationchecks" type="sc:ValidationChecks">
        <xs:annotation>
          <xs:documentation>
            A list of checks the entered value must pass.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="RtdEdit">
    <xs:annotation>
      <xs:documentation>
        @topic forms/standardcomponents
      </xs:documentation>
      <xs:appinfo>
        <fai:formcomponent descriptiontid="formcomponents.rtd.description"
                            editdefaults="name title hidetitle required groupclasses"
                            editextension="/screens/formcomponents.xml#formrtd"
                            fieldobject="/lib/webtools/formcomponents/rtd.whlib#RTDField"
                            icon="tollium:forms/rtd"
                            linecomponent="false"
                            parserfunc="/lib/webtools/formcomponents/rtd.whlib#parseformrtd"
                            supportedvalues="rtd"
                            tid="formcomponents.rtd.name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:attributeGroup ref="BaseAttributes" />
    <xs:attribute name="rtdtype" />
  </xs:complexType>

  <xs:element name="rtdedit" type="forms:RtdEdit" />
  <xs:element name="rtd" type="forms:RtdEdit" /> <!-- deprecated since WH5.7 -->

  <xs:element name="imgedit">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.imgedit.description"
                             editdefaults="name title hidetitle required groupclasses infotext"
                             fieldobject="/lib/webtools/formcomponents/imgedit.whlib#ImgEditField"
                             icon="tollium:forms/image"
                             linecomponent="false"
                             ordering="12"
                             parserfunc="/lib/webtools/formcomponents/imgedit.whlib#parseFormImgEdit"
                             supportedvalues="image"
                             tid="formcomponents.imgedit.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="UploadAttributes" />
      <xs:attribute name="minwidth" type="xs:integer" />
      <xs:attribute name="maxwidth" type="xs:integer" />
      <xs:attribute name="minheight" type="xs:integer" />
      <xs:attribute name="maxheight" type="xs:integer" />
    </xs:complexType>
  </xs:element>

  <xs:element name="password">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.password.description"
                             editdefaults="name title hidetitle required groupclasses placeholder prefix suffix infotext"
                             fieldobject="/lib/webtools/formcomponents/textedit.whlib#TextEditField"
                             icon="tollium:forms/password"
                             linecomponent="true"
                             parserfunc="/lib/webtools/formcomponents/password.whlib#parseformpassword"
                             supportedvalues="string"
                             tid="formcomponents.password.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attributeGroup ref="PrefixSuffixAttributes" />
      <xs:attribute name="minlength" type="xs:nonNegativeInteger" />
      <xs:attribute name="maxlength" type="xs:positiveInteger" />
    </xs:complexType>
  </xs:element>

  <xs:element name="date">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent autocomplete="bday"
                             descriptiontid="formcomponents.date.description"
                             editdefaults="name title hidetitle required groupclasses placeholder infotext"
                             editextension="/screens/formcomponents.xml#formdate"
                             fieldobject="/lib/webtools/formcomponents/date.whlib#DateField"
                             icon="tollium:forms/date"
                             linecomponent="true"
                             ordering="9"
                             parserfunc="/lib/webtools/formcomponents/date.whlib#parseformdate"
                             supportedvalues="datetime"
                             tid="formcomponents.date.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attribute name="min" type="DateOrNow" />
      <xs:attribute name="max" type="DateOrNow" />
      <xs:attribute name="value" type="DateOrNow" />
    </xs:complexType>
  </xs:element>

  <xs:element name="time">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.time.description"
                             editdefaults="name title hidetitle required groupclasses placeholder infotext"
                             editextension="/screens/formcomponents.xml#formtime"
                             fieldobject="/lib/webtools/formcomponents/time.whlib#TimeField"
                             icon="tollium:forms/time"
                             linecomponent="true"
                             ordering="10"
                             parserfunc="/lib/webtools/formcomponents/time.whlib#parseformtime"
                             supportedvalues="integer"
                             tid="formcomponents.time.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attribute name="precision">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="minutes" />
            <xs:enumeration value="seconds" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="upload">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.upload.description"
                             editdefaults="name title hidetitle required groupclasses infotext"
                             fieldobject="/lib/webtools/formcomponents/upload.whlib#UploadField"
                             icon="tollium:forms/upload"
                             linecomponent="true"
                             ordering="13"
                             parserfunc="/lib/webtools/formcomponents/upload.whlib#parseFormUpload"
                             supportedvalues="file"
                             tid="formcomponents.upload.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="UploadAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="SelectTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pulldown" />
      <xs:enumeration value="radio" />
      <xs:enumeration value="checkbox" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="select">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.select.description-pulldown"
                             editdefaults="name title hidetitle required groupclasses placeholder infotext"
                             editextension="/screens/formcomponents.xml#formselectpulldown"
                             fieldobject="/lib/webtools/formcomponents/select.whlib#SelectField"
                             icon="tollium:forms/pulldown"
                             linecomponent="true"
                             matchattribute="hson:{'type':'pulldown'}"
                             ordering="6"
                             parserfunc="/lib/webtools/formcomponents/select.whlib#parseformselect"
                             supportedvaluesfunc="/lib/webtools/formcomponents/select.whlib#getformselectsupportedvalues"
                             tid="formcomponents.select.name-pulldown" />
          <fai:formcomponent descriptiontid="formcomponents.select.description-radio"
                             editdefaults="name title hidetitle required groupclasses infotext"
                             editextension="/screens/formcomponents.xml#formselectradio"
                             fieldobject="/lib/webtools/formcomponents/select.whlib#SelectField"
                             icon="tollium:forms/radio"
                             linecomponent="true"
                             matchattribute="hson:{'type':'radio'}"
                             ordering="5"
                             parserfunc="/lib/webtools/formcomponents/select.whlib#parseformselect"
                             supportedvaluesfunc="/lib/webtools/formcomponents/select.whlib#getformselectsupportedvalues"
                             tid="formcomponents.select.name-radio" />
          <fai:formcomponent descriptiontid="formcomponents.select.description-checkbox"
                             editdefaults="name title hidetitle groupclasses infotext"
                             editextension="/screens/formcomponents.xml#formselectmultiple"
                             fieldobject="/lib/webtools/formcomponents/select.whlib#SelectField"
                             icon="tollium:forms/checkboxes"
                             linecomponent="true"
                             matchattribute="hson:{'type':'checkbox'}"
                             ordering="7"
                             parserfunc="/lib/webtools/formcomponents/select.whlib#parseformselect"
                             supportedvaluesfunc="/lib/webtools/formcomponents/select.whlib#getformselectsupportedvalues"
                             tid="formcomponents.select.name-checkbox" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element name="option" type="SelectOption" />
          <xs:element name="optgroup">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="option" type="SelectOption" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
              <xs:attribute name="title" />
              <xs:attribute name="tid" type="sc:Tid" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element name="deletedoptions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="option" type="SelectOption" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="PlaceholderAttributes" />
      <xs:attribute name="type" type="SelectTypes" use="required" />
      <xs:attribute name="orientation" type="sc:HVOrientation" />
      <xs:attribute name="horizontal" type="xs:boolean" />  <!-- DEPRECATED! -->
      <xs:attribute name="rowkeytype" type="SelectRowkeyTypes" />

      <!-- min and max are used when type = checkbox -->
      <xs:attribute name="min" type="xs:integer" />
      <xs:attribute name="max" type="xs:integer" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SelectOption">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:group ref="LineComponents" />
        <xs:any namespace="##other" processContents="strict" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="rowkey" use="required" />
    <xs:attribute name="title" />
    <xs:attribute name="tid" type="sc:Tid" />
    <xs:attribute name="selected" type="xs:boolean" />
    <xs:attribute name="enabled" type="xs:boolean" />
    <xs:attribute name="invalidselection" type="xs:boolean" />
    <xs:attribute name="guid" />
    <xs:attribute name="visibleconditionid" type="InstanceId" />
    <xs:attribute name="infotextid" type="InstanceId" />
  </xs:complexType>

  <xs:element name="checkbox">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          @topic forms/standardcomponents
        </xs:documentation>
        <xs:appinfo>
          <fai:formcomponent descriptiontid="formcomponents.checkbox.description"
                             editdefaults="name title hidetitle label required groupclasses infotext"
                             editextension="/screens/formcomponents.xml#formcheckbox"
                             fieldobject="/lib/webtools/formcomponents/checkbox.whlib#CheckboxField"
                             icon="tollium:forms/checkbox"
                             linecomponent="true"
                             ordering="8"
                             parserfunc="/lib/webtools/formcomponents/checkbox.whlib#parseformcheckbox"
                             supportedvalues="boolean"
                             tid="formcomponents.checkbox.name" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attributeGroup ref="LabelAttributes" />
      <xs:attribute name="value" type="xs:boolean" />
    </xs:complexType>
  </xs:element>

  <xs:element name="richtext">
    <xs:annotation>
      <xs:documentation>
        @topic forms/standardcomponents
      </xs:documentation>
      <xs:appinfo>
        <fai:formcomponent descriptiontid="formcomponents.richtext.description"
                           editdefaults="groupclasses noenabled"
                           editextension="/screens/formcomponents.xml#richtext"
                           fieldobject="/lib/webtools/formcomponents/richtext.whlib#RichTextField"
                           icon="tollium:forms/richtext"
                           linecomponent="false"
                           parserfunc="/lib/webtools/formcomponents/richtext.whlib#parseformrichtext"
                           supportedvalues="none"
                           tid="formcomponents.richtext.name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any maxOccurs="1" minOccurs="0" namespace="##other" processContents="lax" />
      </xs:sequence>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attribute name="textid" type="InstanceId" />
    </xs:complexType>
  </xs:element>

  <xs:complexType name="AddressType">
    <xs:attributeGroup ref="BaseAttributes" />
    <xs:attribute name="countrylist">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <!-- A list of two-letter country codes and "-" (a divider in the country select option list). WORLD to add all countries not explicitly mentioned -->
              <xs:pattern value="[A-Z]{2}|-|WORLD" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="options" type="sc:FormAddressOptions" />
  </xs:complexType>

  <xs:element name="address">
    <xs:annotation>
      <xs:documentation>
        @topic forms/standardcomponents
      </xs:documentation>
      <xs:appinfo>
        <fai:formcomponent descriptiontid="formcomponents.address.description"
                           editdefaults="name title groupclasses"
                           editextension="/screens/formcomponents.xml#address"
                           fieldobject="/lib/webtools/formcomponents/address.whlib#AddressField"
                           icon="tollium:forms/address"
                           linecomponent="false"
                           parserfunc="/lib/webtools/formcomponents/address.whlib#parseformaddress"
                           supportedvalues="address"
                           tid="formcomponents.address.name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <!-- using a restriction to remove the required* attributes from BaseAttributes -->
      <xs:complexContent>
        <xs:restriction base="AddressType">
          <xs:sequence>
            <xs:element name="fieldtitle" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="tag" type="xs:string" use="required" />
                <xs:attributeGroup ref="sc:TidOrTitle" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="required" use="prohibited" />
          <xs:attribute name="requiredconditionid" use="prohibited" />
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="captcha">
    <xs:annotation>
      <xs:documentation>
        @topic forms/standardcomponents
      </xs:documentation>
      <xs:appinfo>
        <fai:formcomponent descriptiontid="formcomponents.captcha.description"
                           editdefaults="name title"
                           fieldobject="/lib/webtools/formcomponents/captcha.whlib#CaptchaField"
                           icon="tollium:forms/recaptcha"
                           linecomponent="false"
                           supportedvalues="boolean"
                           tid="formcomponents.captcha.name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="BaseAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="array">
    <xs:annotation>
      <xs:documentation>
        @topic forms/standardcomponents
      </xs:documentation>
      <xs:appinfo>
        <fai:formcomponent descriptiontid="formcomponents.array.description"
                           editdefaults="name title"
                           fieldobject="/lib/webtools/formcomponents/array.whlib#ArrayField"
                           icon="tollium:forms/array"
                           linecomponent="false"
                           parserfunc="/lib/webtools/formcomponents/array.whlib#parseformarray"
                           supportedvalues="recordarray"
                           tid="formcomponents.array.name" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:group ref="LineComponents" />
          <xs:group ref="BlockComponents" />
          <xs:any namespace="##other" processContents="strict" />
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="BaseAttributes" />
      <xs:attribute name="min" type="xs:integer" />
      <xs:attribute name="max" type="xs:integer" />
    </xs:complexType>
  </xs:element>

</xs:schema>
