whtree/modules/webhare_testsuite/data/testcomponents.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:s="http://www.webhare.net/xmlns/tollium/screens"
  xmlns:sc="http://www.webhare.net/xmlns/system/common"
  xmlns:tc="http://www.webhare.net/xmlns/tollium/common"
  xmlns:tai="http://www.webhare.net/xmlns/tollium/appinfo"
  xmlns:html="http://www.w3.org/1999/xhtml"
  xmlns="http://www.webhare.net/xmlns/webhare_testsuite/testcomponents"
  xmlns:test="http://www.webhare.net/xmlns/webhare_testsuite/testcomponents"
  targetNamespace="http://www.webhare.net/xmlns/webhare_testsuite/testcomponents"
  elementFormDefault="qualified"
  xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/system/common" schemaLocation="mod::system/data/common.xsd" />
  <xs:import namespace="http://www.webhare.net/xmlns/tollium/common" schemaLocation="mod::tollium/data/common.xsd" />
  <xs:import namespace="http://www.webhare.net/xmlns/tollium/screens" schemaLocation="mod::tollium/data/screens.xsd" />

  <xs:complexType name="screenimplementation">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumimplementation objecttype="/lib/screens/components/customparser.whlib#screenimplementation" />
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="fragmentimplementation">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumimplementation objecttype="/lib/screens/components/customparser.whlib#fragmentimplementation" />
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="tabsextensionimplementation">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumimplementation objecttype="/lib/screens/components/customparser.whlib#tabsextensionimplementation" />
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="testextraparser">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumextraparser parsefunction="/lib/screens/components/customparser.whlib#testextraparser"
                                processfunction="/lib/screens/components/customparser.whlib#testextraprocessor" />
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>

  <xs:element name="extraparsercomponent">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumcomponent placement="block" fragment="/screens/tests/customparser.xml#extraparsercomponent" />
        <tai:extraparser field="children" type="testextraparser" target="./test:child" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="child" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attributeGroup ref="sc:TidOrTitle" />
              <xs:attribute name="testattr" type="xs:string" />
              <xs:attribute name="compref" type="tc:ComponentRef" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="block_multilinecomponent">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumcomponent placement="block" fragment="tests/components.multilinecomponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="inline_multilinecomponent">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumcomponent placement="inline" fragment="tests/components.multilinecomponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="youtube_rec">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="components/media.youtube_rec" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="vimeo_rec">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="components/media.vimeo_rec" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="mediachooser">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="components/media.mediachooser" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="embedblock1_comp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="components/embedtest.embedblock1_comp" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="embedblock2_comp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="components/embedtest.embedblock2_comp" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
    </xs:complexType>
  </xs:element>

  <xs:element name="fragcomp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="block" fragment="tests/fragments.fragcomp" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
      <xs:attribute name="textcomp1" type="tc:ComponentRef" />
      <xs:attribute name="textcomp2" type="tc:ComponentRef" />
    </xs:complexType>
  </xs:element>

  <xs:element name="preinittest">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" objecttype="/lib/screens/tests/fragments.whlib#PreinitTestComponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
    </xs:complexType>
  </xs:element>

  <xs:element name="preinitcomptest">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="composition" objecttype="/lib/screens/tests/fragments.whlib#PreinitCompTestComponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:CompositionBase" />
    </xs:complexType>
  </xs:element>

  <xs:element name="preinitspecialtest">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="composition" objecttype="/lib/screens/tests/fragments.whlib#PreinitTestSpecialComponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
    </xs:complexType>
  </xs:element>

  <xs:element name="emptyfragcomp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="block" fragment="tests/fragments.emptyfragcomp" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
    </xs:complexType>
  </xs:element>

  <xs:element name="inlinecomp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="inline" fragment="tests/fragments.fragcomp" validator="../lib/screens/tests/fragments.whlib#ValidateInlineComp" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
      <xs:attribute name="textcomp1" type="tc:ComponentRef" />
      <xs:attribute name="textcomp2" type="tc:ComponentRef" />
      <xs:attribute name="nowarning" type="xs:boolean" default="true"/> <!-- setting default so we can also test that -->
      <xs:attribute name="deprecated">
        <xs:annotation>
          <xs:appinfo>
            <sc:deprecated>Deprecated attribute</sc:deprecated>
          </xs:appinfo>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="querysourcecomp">
    <xs:annotation>
      <xs:appinfo>
        <s:tolliumcomponent placement="optionsource" objecttype="/lib/screens/tests/fragments.whlib#QuerySourceComponent" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tc:ComponentBase" />
      <xs:attribute name="textcomp1" type="tc:ComponentRef" />
      <xs:attribute name="textcomp2" type="tc:ComponentRef" />
    </xs:complexType>
  </xs:element>

  <xs:element name="intextlink">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <s:tolliumcomponent placement="inline" fragment="tests/fragments.intextlink" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="tc:ComposableComponentBase" />
      <xs:attributeGroup ref="sc:TidOrTitle" />
      <xs:attributeGroup ref="sc:Errorlabel" />
      <xs:attributeGroup ref="sc:Required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="customlinkhandler">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <s:tolliumcomponent placement="rte" objecttype="/lib/screens/components/customlinkhandler.whlib#CustomLinkHandler" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="tc:ComponentBase" />
    </xs:complexType>
  </xs:element>
  <xs:element name="customlinkhandler2">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <s:tolliumcomponent placement="rte" objecttype="/lib/screens/components/customlinkhandler.whlib#CustomLinkHandler2" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="tc:ComponentBase" />
    </xs:complexType>
  </xs:element>


  <xs:attribute name="myattr" type="xs:string">
  </xs:attribute>
  <xs:attribute name="myref" type="tc:ComponentRef">
  </xs:attribute>
  <xs:attribute name="myhandler" type="tc:Handler">
    <xs:annotation>
      <xs:appinfo>
        <tai:callbacksignature />
      </xs:appinfo>
      <xs:documentation>
        The name of the function to perform when a change occurs for this component.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mymoney" type="s:Money"/>

</xs:schema>
