whtree/modules/wrd/data/siteprofile.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sp="http://www.webhare.net/xmlns/publisher/siteprofile"
  targetNamespace="http://www.webhare.net/xmlns/wrd"
  xmlns="http://www.webhare.net/xmlns/wrd"
  elementFormDefault="qualified"
  xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/publisher/siteprofile" />

  <xs:element name="wrdauth">
    <xs:complexType>
      <xs:attribute name="wrdschema" type="xs:string"/>
      <xs:attribute name="cookiename" type="xs:string">
        <xs:annotation>
          <xs:documentation>The cookie name. Must contain `webharelogin`</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="cookiedomain" type="xs:string">
        <xs:annotation>
          <xs:documentation>The domain to use for the wrdauth cookies</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="supportobjectname" type="xs:string"/>
      <xs:attribute name="loginpage" type="xs:string"/>
      <xs:attribute name="authpageswitty" type="xs:string"/>
      <xs:attribute name="routerfeatures" type="xs:string"/>
      <xs:attribute name="customizer" type="xs:string"/>
      <xs:attribute name="passwordresetlifetime" type="xs:string"/>
      <xs:attribute name="cachefields" type="xs:string"/>
      <xs:attribute name="firstloginfield" type="xs:string">
        <xs:annotation>
          <xs:documentation>If set, attribute which will be set to the date of the first successful login</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="lastloginfield" type="xs:string">
        <xs:annotation>
          <xs:documentation>If set, attribute which will be set to the date of the last successful login</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="samesitecookie" type="xs:string">
        <xs:annotation>
          <xs:documentation>Defaults to 'lax'</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="formpayments">
    <xs:complexType>
      <xs:attribute name="wrdschema" use="required"/>
      <xs:attribute name="providerfield" use="required"/>
      <xs:attribute name="paymentfield" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
