whtree/modules/wrd/data/siteprofile.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- THESE ELEMENTS ARE DEPRECATED -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sp="http://www.webhare.net/xmlns/publisher/siteprofile"
  targetNamespace="http://www.webhare.net/xmlns/wrd/siteprofile"
  xmlns="http://www.webhare.net/xmlns/wrd/siteprofile"
  elementFormDefault="qualified"
  xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/publisher/siteprofile" />
  <xs:element name="addressvalidation">
    <xs:complexType>
      <xs:attribute name="registrykey" type="xs:string"/>
      <xs:attribute name="wrdschema" type="xs:string"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
