whtree/modules/webhare_testsuite/tests/publisher/forms/data/testformcomponents.xsd

<!-- WARNING! modifications to this file may require you to update testvalidate.whscr -->
<xs:schema xmlns="http://www.webhare.net/xmlns/webhare_testsuite/testformcomponents"
           xmlns:fai="http://www.webhare.net/xmlns/publisher/forms/appinfo"
           xmlns:forms="http://www.webhare.net/xmlns/publisher/forms"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.webhare.net/xmlns/webhare_testsuite/testformcomponents"
           xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/publisher/forms" schemaLocation="mod::publisher/data/forms/formdef.xsd" />

  <xs:element name="testsuitehandler">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formhandler descriptiontid="webtools.testsuitehandlerdesc"
                           handlerobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#testsuitehandler"
                           parserfunc="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#parsetestsuitehandler"
                           title="TestSuiteHandler" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:HandlerAttributes" />
      <xs:attribute name="x" />
    </xs:complexType>
  </xs:element>

  <xs:element name="tslinecomp">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="../lib/testformcomponents.whlib#TSLineCompField"
                             icon="tollium:forms/password"
                             linecomponent="true"
                             title="TS Line Comp" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="tscustomcomp">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#TSCustomCompField"
                             icon="tollium:forms/password"
                             linecomponent="true"
                             title="TS Custom Comp" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="customselect">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#customselectfield"
                             linecomponent="true"
                             title="SelectWrapper" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="twolevel">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#TwoLevelField"
                             linecomponent="true"
                             supportedvalues="record"
                             title="TwoLevel Comp" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="matchattributes">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#matchattributes_type1"
                             linecomponent="true"
                             matchattribute="hson:{'attr1':'type1'}"
                             title="MatchAttributes Type1" />
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#matchattributes_type2_true"
                             linecomponent="true"
                             matchattribute="hson:{'attr1':'type2','attr2':'true'}"
                             title="MatchAttributes Type2 true" />
          <fai:formcomponent fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#matchattributes_type2_false"
                             linecomponent="true"
                             matchattribute="hson:{'attr1':'type2','attr2':'false'}"
                             title="MatchAttributes Type2 false" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
      <xs:attribute name="attr1" type="xs:string" />
      <xs:attribute name="attr2" type="xs:boolean" />
    </xs:complexType>
  </xs:element>

  <xs:element name="extradatafield">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent editdefaults="name title hidetitle required groupclasses"
                             fieldobject="mod::webhare_testsuite/tests/publisher/forms/lib/testformcomponents.whlib#ExtraDataField"
                             icon="tollium:forms/pulldown"
                             title="Pulldown Field With Extra Data" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
      <xs:attributeGroup ref="forms:PlaceholderAttributes" />
      <xs:attributeGroup ref="forms:PrefixSuffixAttributes" />
    </xs:complexType>
  </xs:element>

  <xs:element name="multimergefield2">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <fai:formcomponent editdefaults="name title hidetitle required groupclasses"
                             fieldobject="mod::webhare_testsuite/webdesigns/basetest/pages/customform2/customform2.whlib#multimergefield2"
                             icon="tollium:forms/textedit"
                             ingroup="My Custom Group"
                             title="Custom Form Field" />
        </xs:appinfo>
      </xs:annotation>
      <xs:attributeGroup ref="forms:BaseAttributes" />
    </xs:complexType>
  </xs:element>

</xs:schema>
