whtree/modules/tollium/data/portal.xsd

<xs:schema xmlns:s="http://www.webhare.net/xmlns/tollium/screens"
           xmlns:tai="http://www.webhare.net/xmlns/tollium/appinfo"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.webhare.net/xmlns/tollium/portal/components"
           xml:lang="en">

  <xs:import namespace="http://www.webhare.net/xmlns/tollium/screens" schemaLocation="mod::tollium/data/screens.xsd" />

  <xs:element name="addtostartmenu">
    <xs:annotation>
      <xs:appinfo>
        <tai:tolliumcomponent objecttype="/lib/internal/portalcomponents.whlib#AddToStartMenu" placement="menu" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="s:MenuItem">
          <xs:attribute name="application" type="xs:string" />
          <xs:attribute name="onbeforeadd" type="s:Handler">
            <xs:annotation>
              <xs:appinfo>
                <tai:callbacksignature />
              </xs:appinfo>
              <xs:documentation>The name of the macro to execute before adding the actual menu item.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
