whtree/modules/webhare_testsuite/tests/baselibs/hsengine/data/validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn::test"
  targetNamespace="urn::test"
  elementFormDefault="qualified" xml:lang="en">

  <xsd:element name="rootnode" type="TRootNode" />

  <xsd:complexType name="TRootNode">
    <xsd:sequence>
      <xsd:element name="childnode" type="TChildNode" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TChildNode">
  </xsd:complexType>

</xsd:schema>
